{% extends "base.html" %}
{% load bootstrap5 %}

{% block content %}
<div class="container mt-5">
    {% if quiz_take == False %}
    <div class="text-center">
        <h3>Look's like you have never taken quiz yet !</h3>
        <a href="{% url 'quiz' %}" class="btn btn-primary mt-3">New Quiz</a>
    </div>
    {% endif %}
    {% if quiz_take == True %}
    <div class="row">
        <div class="col">
            <div class="card mb-4">
                <div class="card-header">
                        Overall Result
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label class="form-label" for="topic_select">Topic</label>
                        <select id="topic_select" class="form-select" aria-label="Default select example">
                        <option value="Geography" selected>Geography</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                        </select>
                    </div>

                    <div>
                        <p>Max Score : <strong>{{max_score}}</strong></p>
                        <p>Min Score : <strong>{{min_score}}</strong></p>
                        <p>Avg Score : <strong>{{avg_score}}</strong></p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    Last 5 quiz results
                </div>
                <div class="card-body">
                    <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    {% for quiz in last_five_quiz %}
                    <tr>
                        <td>{{quiz.date}}</td>
                        <td>{{quiz.score}}</td>
                    </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                        Last Exam Result
                </div>
                <div class="card-body">
                    <h5 class="card-title">Score - {{last_quiz.score}}/5</h5>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{last_quiz_score}}%;" aria-valuenow='{{ last_quiz_score }}' aria-valuemin="0" aria-valuemax="100">{{ last_quiz_score}}%</div>
                    </div>
                    <div class="text-center mt-3">
                        {% if retake == True %}
                        <a href="{% url 'quiz' %}?quiz={{last_quiz.id}}" class="btn btn-primary">Retry Quiz</a>
                        {% endif %}
                        <a href="{% url 'quiz' %}" class="btn btn-primary">New Quiz</a>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    {{result_text}}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}