<div>
    <div class="card mb-2 {{class_1}}">
        <h5 class="card-header">1. {{ question_1 }}</h5>
        <div class="card-body">
            <div class="mb-1">
                Correct Answer - {{correct_answer_1}}
            </div>
            <div>
                Selected Answer - {{selected_answer_1}}
            </div>
        </div>
    </div>
    <div class="card mb-3 {{class_2}}">
        <h5 class="card-header">2. {{ question_2 }}</h5>
        <div class="card-body">
            <div class="mb-1">
                Correct Answer - {{correct_answer_2}}
            </div>
            <div>
                Selected Answer - {{selected_answer_2}}
            </div>
        </div>
    </div>
    <div class="card mb-3 {{class_3}}">
        <h5 class="card-header">3. {{ question_3 }}</h5>
        <div class="card-body">
            <div class="mb-1">
                Correct Answer - {{correct_answer_3}}
            </div>
            <div>
                Selected Answer - {{selected_answer_3}}
            </div>
        </div>
    </div>
    <div class="card mb-3 {{class_4}}">
        <h5 class="card-header">3. {{ question_4 }}</h5>
        <div class="card-body">
            <div class="mb-1">
                Correct Answer - {{correct_answer_4}}
            </div>
            <div>
                Selected Answer - {{selected_answer_4}}
            </div>
        </div>
    </div>
    <div class="card mb-3 {{class_5}}">
        <h5 class="card-header">4. {{ question_5 }}</h5>
        <div class="card-body">
            <div class="mb-1">
                Correct Answer - {{correct_answer_5}}
            </div>
            <div>
                Selected Answer - {{selected_answer_5}}
            </div>
        </div>
    </div>
</div>